{% extends 'base.html.twig' %}

{% block meta_description %} Bienvenue sur notre blog ! {% endblock %}
{% block title %}
	Page d'accueil
{% endblock %}

{% block body %}

<div class="side-bar">

	<div class="logo"> </div>
	<div class="photo"> </div>
	<div class="list-categories"> 

		{% for category in listCategories %}
			<a href="{{ path('show_articles_by_category', {id : category.id }) }}"> {{category.name}} <br></a>
		{% endfor %}
	</div>

</div>
<div class="main-content">

	<h1> Nos
		{% for article in listArticles %}
			<a href="{{ path('show_article_by_id', {id : article.id }) }}"> {{article.title}} <br></a>
		{% endfor %}




{% endblock %}
