	<div class="p-2 col-md-4 mx-auto align-items-center">

        <h1>Bonjour,</h1>

        <p> Confirmez votre mail en cliquant sur le <a aria-label="confirmer son mail" href="{{ signedUrl|raw }}">lien</a>.
            Attention il expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
            <br>
            Merci
        </p>
    </div>