<div class="mt-5 p-5">

    <h1>Bonjour !</h1>

    <p>Pour réinitialiser votre mot de passe, cliquez sur le lien</p>

    <a aria-label="réinitialiser mot de passe" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

    <p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

    <p>Merci !</p>

</div>
