{% extends 'base.html.twig' %}

{% block title %}Nos articles{% endblock %}

{% block body %}

    {% for article in listArticles %}

        <div class="mt-3">
            <img src="{{ article.picture }}" />

            <div>
                <h2> {{ article.title }} </h2>
                <p> {{article.chapo }} </p>

            </div>
        </div>

    {% endfor %}

{% endblock %}
