@import "~bootstrap/scss/bootstrap";

// Common css
*, html, body {
    overflow-x:hidden !important /*pour supprimer le defilement horizontal*/
    }

.slide-from-bottom {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}
.slide-from-bottom.active {
    transform: translateX(0);
    opacity: 1;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px); /* Déplacez le lien vers le haut de 10 pixels */
    }
    60% {
        transform: translateY(-5px); /* Déplacez le lien vers le haut de 5 pixels */
    }
}
.reseaux-sociaux:hover {
    animation: bounce 1000ms infinite;
}
.custom-placeholder::placeholder {
    color: #6ea8fe !important;
}
.bg-primary-subtle {
    background-color: #031633 !important;
}
.text-primary-emphasis {
    color: #6ea8fe !important;
}
.text-primary {
    color: 13, 110, 253 !important;
}
.text-body-secondary {
    color: rgba(173, 181, 189, 0.75) !important;
}
.bg-secondary-subtle {
    background-color: #161719 !important;
}
.text-emphasis-secondary{
    color: #a7acb1 !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    color:#6ea8fe !important;
}

.side-shadow {
    box-shadow: 0rem 1rem 0.3rem 0.3rem rgba(255, 255, 255, 0.20) !important;
}
.custom-shadow {
    box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem rgba(255, 255, 255, 0.20) !important;
}

.nav-shadow {
    box-shadow: 1rem 0rem 0.3rem 0.3rem rgba(255, 255, 255, 0.2) !important;
} 

.navbar {
    height: 70px;
}
    
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.side-bar {
    height: 100%;
    position: fixed;
    top: 60px;
    width: 20%;
}

.main-content {
    margin-left:20%;
    margin-top: 100px;
}

.articleMain {
    img {
        width: 400px;
        // height: 200px;
        aspect-ratio: auto;
        border-radius: 10px;
    }
}
.article {
    img {
        width: 80%;
        height: 100%;
        border-radius: 10px;        
    }
}

.social {
    width: 25px !important;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: initial;
}
.social-article {
    width: 40px !important;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: initial;
}

#description, #catchPhrase, #whowearebody, #cgu {
    text-align: justify;
}

#whowearebody {
    margin-top: 100px;
}



////// MEDIA QUERY
/// 
      
@media (max-width: 1023px) {
    .articleMain {
        flex-direction: column;

        #imgArticle {
            width: 330px;
            height: auto;
            border-radius: 10px;
            display: flex;
            position: relative;
            margin: auto !important;
            margin-bottom: 2rem !important;
        }
    }

    .side-bar {
    display: none;
    }

    .main-content {
        margin-left: 0;
        margin-top: 65px;
        padding: 1rem !important;
    }

    #article {
        flex-direction: column;

        p {
            margin-top: 1rem;
        }
    }
  }
  

@media (max-width: 1440px) {

    #photoSidebar {
        flex-direction: column;
        padding-left: 0 !important;
        margin-bottom: 2rem;
    }


}
