<!DOCTYPE html>
<html>
    <head>
        <title>Nouveau message du blog</title>
    </head>
    <body>
        <h1>Bonjour,</h1>

        <h3>Vous avez reçu un nouveau message de ce prospect :</h3>

        <p> {{ firstName }} </p>
        <p> {{ lastName }} </p>
        <p> {{ message }} </p>

    </body>
</html>