<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
    </head>
    <body>
        <h1>Bonjour,</h1>

        <h3>Merci de pour votre message : </h3>

        <p> {{ message }} </p>

        <p> Notre équipe vous répondra dès que possible </p>

        {# ... #}
    </body>
</html>