<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
    </head>
    <body>
        <h1>Bonjour {{ firstName }},</h1>

        <br>

        <h2>Merci de pour votre message : </h2>
        <br>

        <p> {{ message }} </p>

        <p> Notre équipe vous répondra dès que possible </p>

        {# ... #}
    </body>
</html>