{% extends 'base.html.twig' %}

{% block title %}Contactez nous{% endblock %}

{% form_theme contact_form 'bootstrap_5_layout.html.twig' %}


{% block body %}

    <div class="col-md-4 mx-auto align-items-center" style ="margin-top:170px">

        {# Afficher les msg flash#}
        {% for msg in app.flashes('confirmation') %}
            <div class="alert alert-success text-center mt-3" id="confirmation-message">
                {{ msg }}
            </div>
        {% endfor %}
    
        {{ form(contact_form, {attr: {'novalidate': 'novalidate'}}) }}

    </div>

{% endblock %}
