{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% form_theme contact_form 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <div class="main-content widh:80% p-5">
    {{ form(contact_form) }}
    </div>

{% endblock %}
