    </body>
       
    {# <div class="separator mx-auto mt-5 mb-5" style="width:50%; height:1px; background:rgba(173,173,173,1)"></div> #}
    <div class="text-center text-body-secondary fst-italic small-font">
        <p> Site entièrement codé par <a aria-label="Site de Nicolas" href="https://nicolaspereire.fr" target="_blank" class="text-body-secondary text-decoration-underline">Nicolas PEREIRE</a> de <a aria-label="Site de DevWebConcept" href="https://devwebconcept.com" target="_blank" class="text-body-secondary text-decoration-underline" style="">DevWebConcept</a> </p>
    </div>

</html>