{% extends 'base.html.twig' %}

{% block title %}
	Conditions Générales d'Utilisation du Blog
{% endblock %}

{% block body %}

	<div id="whowearebody" class="mx-auto text-body-secondary" style="width:75%;">
		<h1 class="text-center mb-5">
			Conditions Générales d'Utilisation du Blog</h1>

		<h2 class="mt-4 mb-3"> Date d'entrée en vigueur : 1 Aout 2023 </h2>

		<p class="mb-3">
			Merci de bien vouloir lire attentivement ces conditions générales d'utilisation (ci-après les "CGU") avant d'utiliser notre blog (ci-après le "Blog"). En accédant au Blog, vous acceptez de vous conformer aux présentes CGU. Si vous n'acceptez pas ces CGU, veuillez ne pas utiliser le Blog.
			
			<h3>Utilisation du Blog</h3>
			
			1.1. Vous devez avoir au moins 13 ans pour utiliser le Blog.
            <br>
			
			1.2. Vous acceptez de ne pas utiliser le Blog à des fins illégales ou inappropriées, notamment pour diffuser du contenu offensant, diffamatoire, obscène, ou violant les droits d'autrui.
			<br>

			1.3. Vous acceptez de ne pas perturber le bon fonctionnement du Blog, d'essayer d'accéder à des données non autorisées ou de tenter de contourner les mesures de sécurité.
			<br>
            <br>

			<h3>Contenu du Blog</h3>
			
			2.1. Le contenu du Blog est fourni à titre informatif uniquement. Nous ne garantissons pas l'exactitude, l'exhaustivité ou la pertinence du contenu.
			<br>

			2.2. Tout le contenu publié sur le Blog est protégé par des droits d'auteur et autres droits de propriété intellectuelle. Vous ne pouvez pas reproduire, distribuer ou utiliser ce contenu sans autorisation.
			<br>

			2.3. Les commentaires et contributions des utilisateurs du Blog n'engagent que leurs auteurs respectifs et ne reflètent pas nécessairement notre opinion.
			<br>
            <br>

			<h3>Liens vers des sites tiers</h3>
			
			3.1. Le Blog peut contenir des liens vers des sites web tiers. Nous ne sommes pas responsables du contenu ou de la politique de confidentialité de ces sites, et nous vous encourageons à consulter leurs CGU et politiques de confidentialité respectives.
			<br>
            <br>
			
            <h3>Protection des Données Personnelles</h3>
			
			4.1. Nous recueillons et traitons les données personnelles conformément à notre politique de confidentialité, disponible sur le Blog.
			<br>
            <br>

			<h3>Modification des CGU</h3>
			
			5.1. Nous nous réservons le droit de modifier ces CGU à tout moment. Les modifications seront publiées sur le Blog, et il vous incombe de les consulter régulièrement. En continuant à utiliser le Blog après la publication des modifications, vous acceptez ces dernières.
			<br>
            <br>

			<h3>Loi Applicable et Juridiction</h3>
			
			6.1. Ces CGU sont régies par les lois en vigueur dans [votre juridiction]. Tout litige découlant de ces CGU sera soumis à la juridiction exclusive des tribunaux compétents de [votre juridiction].
            <br>
			
			Pour toute question concernant ces CGU, veuillez nous contacter à via le formulaire de <a aria-label="formulaire de contact" href="{{path('app_contact')}}">contact. </a>
		</p>
	</div>

{% endblock %}
