{% extends 'base.html.twig' %}

{% block body %}

    <div class="mx-auto text-center" style="margin-top:140px">

        <h1> Accès refusé !</h1>
        <p> Faites demi tour rapidement si vous ne voulez pas de problème !</p>
        <img src="{{ asset('build/acces-interdit.jpeg') }}" alt="accès refusé" style="width:50%">

    </div>
{% endblock %}