{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<a href="{{ path ('app_home') }}"> Lien vers la page d'accueil </a><br>
    <h1> Mon article </h1>


{% endblock %}
